<h1>edit page</h1>

<form class="" action="/item/{{_id}}/edit" method="post">
  <h1>Update To do</h1>
  <label for="item">Title</label>
  <input type="text" name="item">
  <input type="submit" value="Submit changes">

</form>
