<!-- {{#if newError}}
   <h1 style="color: red;">{{newError}}</h1>
{{/if}} -->

<h1>This is the new page</h1>
<form class="" action="/" method="post">
  New To Do Item<input type='text' name='item' maxlength='40' required/><br/>
  Submit<input type='submit'/>
</form>
